Node-RED/flows.json
[
    {
        "id": "354bcc48672cf1e7",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d31ced6ee39a9c1",
        "type": "mqtt in",
        "z": "354bcc48672cf1e7",
        "name": "BPM",
        "topic": "/saude/monitoramento/bpm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6c7bdefa063fd0ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "af4e4e50fb3d5790",
                "a8966f7cb5d55b0b",
                "535aafd733699370",
                "0f0de14162ac4636"
            ]
        ]
    },
    {
        "id": "af4e4e50fb3d5790",
        "type": "ui_chart",
        "z": "354bcc48672cf1e7",
        "name": "BPM",
        "group": "bac5102001a74228",
        "order": 3,
        "width": 10,
        "height": 5,
        "label": "Batimentos Cardíacos (BPM)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 310,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1aafe9921a2444a8",
        "type": "mqtt in",
        "z": "354bcc48672cf1e7",
        "name": "SpO2",
        "topic": "/saude/monitoramento/spo2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6c7bdefa063fd0ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "e65e90723e3ff311",
                "c8695cd334a29f3d",
                "b57067968e1ac1ca",
                "0cfeeb76af5d3a43",
                "721116181f3d1ba3"
            ]
        ]
    },
    {
        "id": "e65e90723e3ff311",
        "type": "ui_chart",
        "z": "354bcc48672cf1e7",
        "name": "SpO2",
        "group": "bac5102001a74228",
        "order": 6,
        "width": 10,
        "height": 5,
        "label": "Oxigenação do Sangue (SpO2)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "80",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#c20f0f",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 310,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c8695cd334a29f3d",
        "type": "debug",
        "z": "354bcc48672cf1e7",
        "name": "SpO2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 80,
        "wires": []
    },
    {
        "id": "a8966f7cb5d55b0b",
        "type": "debug",
        "z": "354bcc48672cf1e7",
        "name": "BPM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 360,
        "wires": []
    },
    {
        "id": "535aafd733699370",
        "type": "ui_gauge",
        "z": "354bcc48672cf1e7",
        "name": "",
        "group": "bac5102001a74228",
        "order": 2,
        "width": 7,
        "height": 5,
        "gtype": "gage",
        "title": "BPM",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#0cb300",
            "#e6e600",
            "#c11717"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 320,
        "wires": []
    },
    {
        "id": "b57067968e1ac1ca",
        "type": "ui_gauge",
        "z": "354bcc48672cf1e7",
        "name": "",
        "group": "bac5102001a74228",
        "order": 5,
        "width": 7,
        "height": 5,
        "gtype": "gage",
        "title": "SpO2",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0cb300",
            "#e6e600",
            "#c41717"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "0cfeeb76af5d3a43",
        "type": "function",
        "z": "354bcc48672cf1e7",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0f0de14162ac4636",
        "type": "function",
        "z": "354bcc48672cf1e7",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "721116181f3d1ba3",
        "type": "function",
        "z": "354bcc48672cf1e7",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8c29ebaa896c1098",
        "type": "function",
        "z": "354bcc48672cf1e7",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "941081c661b68ef4",
        "type": "ui_text",
        "z": "354bcc48672cf1e7",
        "group": "bac5102001a74228",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Oxigenação do Sangue:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Palatino Linotype,Palatino,Book Antiqua,serif",
        "fontSize": "24",
        "color": "#018aad",
        "x": 370,
        "y": 240,
        "wires": []
    },
    {
        "id": "01a0a7b753139dbc",
        "type": "ui_text",
        "z": "354bcc48672cf1e7",
        "group": "bac5102001a74228",
        "order": 1,
        "width": 17,
        "height": 1,
        "name": "",
        "label": "Batimentos Cardíacos:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Palatino Linotype,Palatino,Book Antiqua,serif",
        "fontSize": "24",
        "color": "#c70000",
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "74580735e8145364",
        "type": "mqtt in",
        "z": "354bcc48672cf1e7",
        "name": "AlertaSpO2",
        "topic": "/saude/monitoramento/alertaoxity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6c7bdefa063fd0ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "941081c661b68ef4"
            ]
        ]
    },
    {
        "id": "65f5b78fb56d8805",
        "type": "mqtt in",
        "z": "354bcc48672cf1e7",
        "name": "AlertaBPM",
        "topic": "/saude/monitoramento/alertabpm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6c7bdefa063fd0ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "01a0a7b753139dbc"
            ]
        ]
    },
    {
        "id": "6c7bdefa063fd0ef",
        "type": "mqtt-broker",
        "name": "/saude/monitoramento/mqtt",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bac5102001a74228",
        "type": "ui_group",
        "name": "Monitoramento de Saúde",
        "tab": "28c06b209b1d7234",
        "order": 1,
        "disp": true,
        "width": "17",
        "collapse": false,
        "className": ""
    },
    {
        "id": "28c06b209b1d7234",
        "type": "ui_tab",
        "name": "Saúde",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
